body{font-family: "Roboto", sans-serif; 
    color: #434455;
background-color: #fff;}

ul, ol {list-style-type: none;
margin: 0;
padding: 0;}

a {text-decoration: none;}

img{display: block;}

h1, h2, h3, h4, h5, h6, p 
{margin: 0;}

/* common */

.container{max-width: 1158px;
padding: 0 15px;
margin: auto;}

/* header */

.header{border-bottom: 1px solid #e7e9fc;}

.header-container{display: flex;
align-items: center;}

.nav-header{display: flex;
align-items: center;}

.header-list{display: flex;
    align-items: center;
    gap: 40px;}

.contacts-list{ display: block;
    padding: 24px 0;
    gap: 40px;
    display: flex;
    align-items: center;}

.logo{padding: 24px;
margin-right: 76px;}

.logo-header{font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 117%;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}

.logo-header .logo-part{
color: #2e2f42;}

.header-link{
display: block;
padding: 24px 0;
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: #2e2f42;}

.header-link:hover,
.header-link:focus,
.contacts-link:hover,
.contacts-link:focus{
color: #404bbf;}

.button:focus,
.button:hover{background-color: #404bbf;}

.contacts{font-style: normal;
margin-left: auto;}

.contacts-link{
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: #434455;}

/* main-container */


.main{background-color: #2e2f42;
margin: auto;}

.main-container{
width: 1128px;
margin: 0 auto;
padding: 188px 0 188px;
text-align: center;}

.main-name{font-weight: 700;
max-width: 496px;
font-size: 56px;
line-height: 107%;
letter-spacing: 0.02em;
margin: 0 auto 48px;
text-align: center;
color: #fff;}

.button{background-color: #4d5ae5;
display: block;
margin: auto;
min-width: 169px;
padding: 16px 32px;
height: 56px;
border:none;
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.04em;
color: #fff;
cursor: pointer;}



/* text section */

.name{
font-weight: 500;
margin: 0 0 8px 0;
padding-left: 15px;
font-size: 20px;
line-height: 120%;
letter-spacing: 0.02em;
color: #2e2f42;}

.textdiv{padding: 120px 0;}

.name-text{font-weight: 400;
min-width: 264px;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
margin: 0;}

.text .name-text {
  margin-bottom: 8px; 
  text-align: left;
padding-left: 15px;}

.text-list{display: flex;
justify-content: center;
align-items: center;
gap: 24px;
margin: auto;
}

.text-item{ flex-basis:calc((100% - 72px)/4);
text-align: left;}

.visually-hidden {
 position: absolute;
 width: 1px;
 height: 1px;
 margin: -1px;
 border: 0;
 padding: 0;
 white-space: nowrap;
 clip-path: inset(100%);
 clip: rect(0 0 0 0);
 overflow: hidden;
}


/* team section */

.team .name-text {
  margin: 0;       
  text-align: center;
}

.team-info {
  padding:32px 0;
  text-align: center;}

.team-list{display: flex;
justify-content: center;
padding: 0;
gap: 24px;}


.team{background-color: #f4f4fd;
padding: 120px 0;}

.title{text-align: center;
margin: 0 0 72px 0;
font-weight: 700;
font-size: 36px;
line-height: 111%;
letter-spacing: 0.02em;
color: #2e2f42;
text-transform: capitalize;}

.team-item{background-color:#FFFFFF;
flex-basis: calc((100% - 72px) / 4);
border-radius: 0 0 4px 4px; 
text-align: center;
overflow: hidden;}

.team-item img {
  width: 100%;   
  height: auto;
  display: block;
}

.people-name{ padding: 0;
  text-align: center;
  margin-bottom: 8px;}

.position{
  text-align: center;}


/* Portfolio */

.portfolio {
  padding: 120px 0;
}

.program{background-color:  #fff;
display: flex;
justify-content: center;
flex-wrap: wrap;
column-gap: 24px;
row-gap: 48px;  
}

.program-list{
  flex-basis: calc((100% - 2 * 72px) / 3); 
border-radius: 0 0 4px 4px;
overflow: hidden;
border-bottom: 1px solid #e7e9fc;}

.program-category {
  margin-left: 15px;
  padding-bottom: 32px;
  text-align: left;
}

.program-name{
margin: 32px 0 8px 15px;
font-weight: 500px;
font-size: 20px;
line-height: 120%;
letter-spacing: 0.02em;
text-align: left;
text-transform: capitalize;
color:#2e2f42;}

.name-text {
  margin: 0 0 32px 0;}  
  
/* Footer */

.footer{padding-top: 100px;
padding-left: 156px;
background-color: #2e2f42;}

.logo-footer-part{color: #f4f4fd;}

.footer-part{display: flex;
margin-bottom:16px;}

.footer-text{
max-width: 264px;
padding-bottom: 100px;
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: #f4f4fd;}